* {
  box-sizing: border-box;
}

html, body,
h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lemons Can Fly', sans-serif;
  font-size: 40px;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

@font-face {
  font-family: 'Action Jackson';
  src: url('fonts/actionj.ttf');
}

@font-face {
  font-family: 'Lemons Can Fly';
  src: url('fonts/Lemons Can Fly.ttf');
}

:root {
  --pink: #F1E6F3;
  --oxford-blue: #223134;

  --heading-size: 35px;

  --font-body: 'Lemons Can Fly', sans-serif;
  --font-heading: 'Action Jackson', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 5px;
  margin: 0 auto;
}

/********************************************************/






/************************ HEADER ************************/

header {
  height: 65px;
  width: 100%;
  background-color: var(--oxford-blue);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  margin-right: -25px;
}

.header-left a:hover {
  color: #B8E3F7;
}

.header-left img {
  padding-right: 20px;
}

.header-left a {
  font-family: var(--font-heading);
  line-height: 65px;
  color: white;
  display: block;
  float: left;
  font-size: 30px;
}

.menu-for-mobile {
  display: none;
}

.menu {
  float: right;
  margin-right: -25px;
}

.menu a {
  color: white;
  display: block;
  line-height: 65px;
  padding: 0 25px;
  float: left;
}

.menu a:hover {
  color: #B8E3F7;
}

/********************************************************/






/************************ TOP ***************************/

.top-wrapper {
  padding: 320px 0 10px 0;
  /* margin-top: 65px; */
  background-attachment: fixed;
  background-image: url("images/itadori + nobara + megumi.jpg");
  background-size: 100%;
  color: black;
  text-align: right;
  transition: all 2s;
}

.top-wrapper h1 {
  font-size: 50px;
  font-family: var(--font-heading);
  color: black;
}

/********************************************************/






/************************ PORTFOLIO *********************/

.portfolio-wrapper {
  padding: 50px 0 80px 0;
  text-align: center;
  background-color: var(--pink);
}

.portfolio-heading {
  padding: 20px 0 50px 0;
  color: var(--oxford-blue);
  font-family: var(--font-heading);
  font-size: var(--heading-size);
}

.portfolio {
  float: left;
  width: 33%;
}

.drawing {
  position: relative;
}

.drawing:active {
  top: 7px;
}

.drawing:hover {
  transition: all .5s;
  transform: scale(1.05);
}

.drawing img {
  border: 3px solid var(--oxford-blue);
}

.caption {
  display: inline-block;
  margin-top: 5px;
  color: #4A7881;
  width: 80%;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
}

.full-portfolio-wrapper {
  padding-top: 35px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.full-portfolio {
  padding: 15px 300px;
  background-color: #8ED6F6;
  cursor: pointer;
  box-shadow: 0 7px #5FA2C0;
  border-radius: 10px;
}

.full-portfolio:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.full-portfolio:hover {
  color: #5FA2C0;
}

/********************************************************/






/************************ ABOUT *************************/

.artist-wrapper {
  background-image: url("images/artist-bg-3.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0 700px 0;
  color: var(--oxford-blue);
}

.artist-heading {
  padding: 20px 0 80px 0;
  text-align: center;
  font-size: var(--heading-size);
  font-family: var(--font-heading);
}

.description {
  font-size: 38px;
}

.desc img {
  border-radius: 50%;
  width: 500px;
  height: auto;
}

.desc {
  text-align: justify;
  width: 50%;
  float: left;
}

/********************************************************/






/************************ CONTACT ***********************/

.contact-wrapper {
  margin-top: 5px;
  background-color: var(--pink);
  padding: 50px 0 800px 0;
}

.contact {
  width: 50%;
  float: left;
}

.contact-heading {
  color: var(--oxford-blue);
  padding: 20px 0 60px 0;
  text-align: center;
  font-size: var(--heading-size);
  font-family: var(--font-heading);
}

.links {
  text-align: left;
  font-size: 40px;
}

.links a {
  padding: 5px 100px 0 10px;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  color: var(--oxford-blue);
}

.links a:hover {
  background-color: white;
}

.gform-for-mobile {
  display: none;
}

/********************************************************/






/************************ FOOTER ************************/

footer {
  text-align: center;
  background-color: var(--oxford-blue);
  bottom: 0;
  padding: 80px 0;
  width: 100%;
}

.icons {
  display: inline-block;
}

.icons a {
  padding: 15px 20px 5px 20px;
  float: left;
  border-radius: 50%;
  cursor: pointer;
}

.icons a:hover {
  background-color: black;
}

.credits {
  color: white;
}
