* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'HAPPY DOODLE', sans-serif; */
  font-family: 'Gaegu', cursive;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.main-head {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 1);
  /* background-color: transparent; */
  opacity: 1.0;
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  margin-right: -25px;
}

.header-left a {
  line-height: 65px;
  /* padding: 0 25px; */
  color: white;
  display: block;
  float: left;
  letter-spacing: 1px;
  font-size: 40px;
}

.header-left img {
  padding-right: 20px;
}

.container {
  max-width: 1170px;
  /* padding: 0 15px; */
  margin: 0 auto;
}

.top-wrapper {
  padding: 60px 0 60px 0;
  margin-top: 65px;
  /* top right bottom left */
  /* background-image: url("images/itadori + nobara + megumi.jpg"); */
  /* background-size: cover; */
  opacity: 0.9;
  color: #5FA2C0;
  text-align: center;

  transition: all 2s;
}

.top-wrapper h1 {
  font-family: 'Balsamiq Sans', cursive;
  margin-bottom: 10px;
  font-size: 85px;
}

.comms-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 80px;
  text-align: center;
  background-color: #F1E6F3;
}

.comms {
  padding: 50px 0 50px 0;
  float: left;
  width: 100%;
}





.footer {
  text-align: center;
  background-color: rgba(34, 49, 52, 1);
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 100px;

  width: 100%;

}

.icons {
  /* padding: 10px 10px; */
  display: inline-block;
  /* margin-right: -25px; */
}

.icons a {
  padding: 25px 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  border-radius: 50%;
  cursor: pointer;
}

.icons a:hover {
  background-color: #000000;
}

.credits {
  /* font-size: 15px; */
  color: white;
}
